* {
    margin:0;
    padding:0;
}
#calc_body {
    position: fixed;
    top: 15%;
    left: 35%;
    background-color: #4a2b0f;
    height:490px;
    width: 445px;
}

#logo {
    height: 30px;
    margin-left: 8px;
}

#display {
    margin-left: 15px;
    width: 417px;
    height: 82px;
    background-color: rgb(155, 243, 255);
}

#display p {
    position: relative;
    top: 15px;
    right: 10px;
    font-size: 3em;
    color: rgb(51, 96, 102);
    text-align: right;
}

#buttons_pad {
    text-align: center;
    margin-left: 5px;
    border-spacing: 10px;
    color: white;
}

.button {
    width: 75px;
    height: 62px;
    font-size: 2em;

    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.button:active {
    -moz-box-shadow:    inset 3px 3px 10px black;
    -webkit-box-shadow: inset 3px 3px 10px black;
    box-shadow:         inset 3px 3px 10px black;
}

.light_brown {
    background-color: rgb(191, 111, 40);
}

.dark_brown {
    background-color: rgb(134, 78, 27);
}

.blur_layer{
    position:fixed;
    height:100%;
    width:100%;
    display: none;
    z-index: 4;
}

.transparent_background{
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_window{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
    padding: 15px 5px 15px 5px;
    border-radius: 15px;
}

.modal_window p{
    margin: 5px 5px 5px 5px;
}
